@model Address
@using Web.Infrastructure.Global;
@{
    var editMode = ViewData["EditMode"] != null ? (bool)ViewData["EditMode"] : false;
    var settings = Site.StoreSettings;
    var regionListItems = settings.Regions.Select(x => new SelectListItem { Text = x, Value = x });
}


<div class="form-row">
    <div class="form-group col-md-12">
        <label for="inputAddress">Deliver To:</label>
        @if (editMode)
        {
            <input asp-for="Id" type="hidden" />
            <input asp-for="Name" class="form-control" placeholder="Name of recipient">
        }
        else
        {
            <div class="font-weight-light">@Model.Name</div>
        }
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-9">
        <label for="inputAddress">Street:</label>
        @if (editMode)
        {
            <input asp-for="Street" class="form-control" placeholder="1234 Main St">
        }
        else
        {
            <div class="font-weight-light">@Model.Street</div>
        }
    </div>
    <div class="form-group col-md-3 text-right">
        <label for="inputZip">Postal Code:</label>
        @if (editMode)
        {
            <input asp-for="PostalCode" class="form-control" id="inputZip">
        }
        else
        {
            <div class="font-weight-light">@Model.PostalCode</div>
        }
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="inputCountry">Country:</label>
        @if (editMode)
        {
            <select asp-for="Country" class="form-control" id="inputCountry">
                <option selected>Choose...</option>
                <option>@settings.Country</option>
            </select>
        }
        else
        {
            <div class="font-weight-light">@Model.Country</div>
        }
    </div>
    <div class="form-group col-md-3">
        <label for="inputState">State/Province:</label>
        @if (editMode)
        {
            <select asp-for="Region" asp-items="regionListItems" class="form-control" id="inputState">
                <option selected>Choose...</option>
            </select>
        }
        else
        {
            <div class="font-weight-light">@Model.Region</div>
        }
    </div>
    <div class="form-group col-md-5">
        <label for="inputCity">City:</label>
        @if (editMode)
        {
            <input asp-for="City" class="form-control" id="inputCity">
        }
        else
        {
            <div class="font-weight-light">@Model.City</div>
        }
    </div>
</div>


