@{
    ViewData["Category"] = Model.CategoryName;
    ViewData["CategoryId"] = Model.CategoryId;
    ViewData["Title"] = ViewData["ProductName"] = Model.Name;
    var p = ((float?)Model.Price);
}

<div class="mb-lg-5">
    <partial name="~/Views/Shared/_breadcrumbs.cshtml" />
    <div class="row" id="prodApp" ref="prod">
        <div class="col-sm-6 col-md-4" ref="product" id="@Model.Id" name="@Model.Name" price="@Model.Price" rating="@Model.Rating" cat="@Model.CategoryId" catName="@Model.CategoryName">
            <partial name="~/Views/Partials/Catalog/_FakeImg.cshtml" />
            <partial name="~/Views/Partials/Catalog/_FakeThumbnails.cshtml" />
        </div>
        <div class="col-sm-6 col-md-8">
            <h3>@Model.Name</h3>
            <div class="small mb-2 border-bottom">
                <div>
                    Rating:
                    <span v-for="r in 5">
                        <span class="fa fa-star" v-bind:class="{'checked':(r <= rating)}"></span>
                    </span>
                </div>
                Top Seller in <a asp-controller="Products" asp-action="@Model.CategoryId">@Model.CategoryName</a>
            </div>
            @if (p.HasValue)
            {
                <p>Price: <span class="text-danger font-weight-bold">@Model.Currency $ @p.Value.ToString("0.00")</span></p>
            }
            else
            {
                <p class="text-danger font-weight-bold">Information not available</p>
            }
            <p class="small my-3">@Model.Description</p>
            <div>
                <a href="#" class="btn btn-danger btn-sm" v-on:click="addToCart">Add to cart</a>
                <a asp-controller="Products" asp-action="@Model.CategoryId" class="btn btn-outline-info btn-sm">Other items on @Model.CategoryName</a>
            </div>
        </div>
    </div>
</div>
